<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% stylesheets
            '@DevelopatheCrudBundle/Resources/public/css/crud.css'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {#{% javascripts '@DatawordsQaCheckBundle/Resources/public/js/qa-check.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}#}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav id="navbar" class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Crud Bundle by Dévelopathe</a>
                </div>

                <div role="navigation" class="collapse navbar-collapse">
                    <ul  class="nav navbar-nav navbar-right">
                        <li><a href="https://github.com/developathe/crud-bundle/edit/master/README.md">Readme file</a></li>
                        <li><a href="http://al.k13.fr/">_alK13's blog</a></li>
                        <li><a href="http://developathe.com">Dévelopathe</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block contextualMenu %}{% endblock contextualMenu %}
            <div class="page-header"><h1>{{ title|raw }}</h1></div>
            {% if block('errors') is not empty %}
            <div class="alert alert-danger">{% block errors %}{% endblock errors %}</div>
            {% endif %} 
            {% if block('info') is not empty %}
            <div class="alert alert-info">{% block info %}{% endblock info %}</div>
            {% endif %} 
            {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                    {{ flashMessage|raw }}
            </div><!-- div.alert -->
            {% endfor %}
            {% block body %}{% endblock body%}
        </div>

    </div>
    {% block javascripts %}{% endblock javascripts %}
</body>
</html>